<h1>{{ title }}</h1>
<div>
  <div class="ui-g-4">
    <agm-map
      #agmMap
      [fullscreenControl]="fullScreenControl"
      [latitude]="lat"
      [longitude]="lng"
      [mapTypeId]="mapTypeId"
      [mapTypeControl]="mapTypeControl"
      [zoom]="zoom"
      [usePanning]="true"
      (mapReady)="onMapReady($event)"
      (mapClick)="onMapClick($event.coords)"
      (boundsChange)="onBoundsChange($event)">
      <ng-container>
        <agm-rectangle
          *ngFor="let ntsMap of ntsMaps"
          [clickable]="false"
          [north]="ntsMap.north"
          [south]="ntsMap.south"
          [east]="ntsMap.east"
          [west]="ntsMap.west"
          [fillOpacity]="0.0"
          [strokeColor]="'bisque'"
          [strokePosition]="0"
          [strokeOpacity]="1.0"
          [strokeWeight]="3">
        </agm-rectangle>
      </ng-container>
    </agm-map>
  </div>
  <div class="ui-g-8">
    <div>
      <p-tabView (onChange)="tabChanged($event)">
        <p-tabPanel header="Search By Name">
          <div>Enter the name or title you want to search on:</div>
          <label for="nameInput">
            Name
            <p-autoComplete
              id="nameInput"
              [(ngModel)]="nameSearchParams.name"
              [suggestions]="matchingNames"
              (completeMethod)="getMatchingNames($event)"
              [size]="10"
              placeholder="ex:  72P14"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <label for="snippetInput">
            Title
            <p-autoComplete
              id="snippetInput"
              [(ngModel)]="nameSearchParams.snippet"
              [suggestions]="matchingSnippets"
              (completeMethod)="getMatchingSnippets($event)"
              [size]="20"
              placeholder="ex:  LANIGAN"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <button type="button" (click)="getByName()" [disabled]="! enableSearchByName()">Search</button>
          <button type="button" (click)="nameSearchParams.clear()">Clear</button>
        </p-tabPanel>
        <p-tabPanel header="Search By Coordinate">
          <div>Enter the coordinate you want to search on:</div>
          <label for="latitudeInput">
            Latitude
            <p-autoComplete
              id="latitudeInput"
              [(ngModel)]="coordinateSearchParams.lat"
              [suggestions]="matchingLatitudes"
              (completeMethod)="getMatchingLatitudes($event)"
              [size]="10"
              placeholder="ex:  51.75"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <label for="longitudeInput">
            Longitude
            <p-autoComplete
              id="longitudeInput"
              [(ngModel)]="coordinateSearchParams.lng"
              [suggestions]="matchingLongitudes"
              (completeMethod)="getMatchingLongitudes($event)"
              [size]="10"
              placeholder="ex:  -105.25"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <button type="button" (click)="getByCoordinate()" [disabled]="! enableSearchByCoordinate()">Search</button>
          <button type="button" (click)="coordinateSearchParams.clear()">Clear</button>
        </p-tabPanel>
        <p-tabPanel header="Search By Bounded Area">
          <div>Enter the bounds of the area you want to search on:</div>
          <label for="northInput">
            North
            <p-autoComplete
              id="northInput"
              [(ngModel)]="areaSearchParams.north"
              [suggestions]="matchingNorthLatitudes"
              (completeMethod)="getMatchingNorthLatitudes($event)"
              [size]="10"
              placeholder="ex:  52"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <label for="southInput">
            South
            <p-autoComplete
              id="southInput"
              [(ngModel)]="areaSearchParams.south"
              [suggestions]="matchingSouthLatitudes"
              (completeMethod)="getMatchingSouthLatitudes($event)"
              [size]="10"
              placeholder="ex:  51.75"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <label for="eastInput">
            East
            <p-autoComplete
              id="eastInput"
              [(ngModel)]="areaSearchParams.east"
              [suggestions]="matchingEastLongitudes"
              (completeMethod)="getMatchingEastLongitudes($event)"
              [size]="10"
              placeholder="ex:  -105"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <label for="westInput">
            West
            <p-autoComplete
              id="westInput"
              [(ngModel)]="areaSearchParams.west"
              [suggestions]="matchingWestLongitudes"
              (completeMethod)="getMatchingWestLongitudes($event)"
              [size]="10"
              placeholder="ex:  -105.50"
              emptyMessage="No maps found"
              [minLength]="1">
            </p-autoComplete>
          </label>
          <button type="button" (click)="getByArea()" [disabled]="! enableSearchByArea()">Search</button>
          <button type="button" (click)="areaSearchParams.clear()">Clear</button>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div>
      <p-table
        [value]="searchResults"
        [paginator]="true"
        [rows]="10"
        pageLinks="10"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (onLazyLoad)="lazyLoadMaps($event)">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sortField" ariaLabelDesc="Activate to sortField in descending order" ariaLabelAsc="Activate to sortField in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ntsMap>
          <tr (click)="mapSelected(ntsMap)" [className]="getRowStyleClass(ntsMap)">
            <td>{{ntsMap.name}}</td>
            <td>{{ntsMap.snippet}}</td>
            <td>{{ntsMap.parent}}</td>
            <td>{{ntsMap.north}}</td>
            <td>{{ntsMap.south}}</td>
            <td>{{ntsMap.east}}</td>
            <td>{{ntsMap.west}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <div>Search found no maps</div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
